---
layout: archive
---

<div class="home">

    <!-- <h1>My research papers</h1> -->

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="publications">
    {% for pub in site.data.publications %}
      {% capture post_lang %}{{ pub.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li style="margin-bottom:7%">
        <h2>
          {% if pub.url %}
            <a class="post-link"
              href="{{ pub.url  }}" target="_blank"
            {% if lang != empty %}
              lang="{{ lang }}"
            {% endif %}>
            {% endif %}
            {{ pub.title | escape }}{% if post.external-url %} &rarr;{% endif %}{% if pub.url %}</a>{% endif %}
        </h2>
        <h6>
         <span class="post-meta">{{ pub.authors }}</span>
         <span class="post-meta">{{ pub.year }}, {{ pub.venue }}</span>
         {% if pub.arxiv %}
         <br>
         <span class="post-meta"><a class="post-link" href="{{ pub.arxiv }}">ArXiv</span>
         {% endif %}
         {% if pub.poster %}
         <br>
         <span class="post-meta"><a class="post-link" href="{{ pub.poster }}">Poster</span>
         {% endif %}
         <br>
        </h6>
        {{ pub.description }}

      </li>
    {% endfor %}
  </ul>


</div>

